<p id="notice"><%= notice %></p>

<h1><%= @style.name %></h1>



<p>
  <h2><strong>Description:</strong></h2>
  <%= @style.description %>
</p>

<%= link_to 'Edit', edit_style_path(@style), class: "btn btn-info"  unless current_user.nil? or !current_user.admin %>
